
body {
	background-color: #663366;
	color: #add8e6;
	font-family: arial;
	Font-size: 25px;
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffcc00
}

pre{
    white-space: pre-wrap;
}

p, blockquote, pre {
    background-color: #663366;

}

img {
	display: block;
	margin: 0 auto;
}


/* Start Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #663366;
    border-radius: 0.15em;
}

nav ul li {
    float:left;
}

nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #111111;
}

nav ul li a.active {
    background-color: #bcce1e;
    color: #111111;
}

nav ul li.right {
    float: right;
}

@media screen and (max-width: 600px) {
	nav ul li.right,
	nav ul li { float: none; }
}

/* End Navigation */